<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlassian.SDK" version="10.4.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Castle.Core-NLog" version="4.3.1" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="5.0.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="5.0.0" targetFramework="net461" />
  <package id="CommandLineParser" version="2.4.3" targetFramework="net461" />
  <package id="Dapper" version="1.50.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net461" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="15.131.1" targetFramework="net461" />
  <package id="Microsoft.TeamFoundationServer.Client" version="15.131.1" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.131.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NLog" version="4.5.10" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.10" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net461" />
  <package id="RestSharp" version="106.2.2" targetFramework="net461" />
</packages>